* {
    box-sizing: border-box;
    margin-top: 3vmin;
}

body {
    background-color: pink;
    background-image: url("/img/background.jpg");
    background-size: cover;
    background-attachment: fixed;
}

.flex-ctr {
    justify-content: center;
    align-items: center;
  }

#logo {
    max-width: 60vmin;
    
}

#concentration {
    display: grid;
    grid-template-columns: 25vmin 25vmin 25vmin 25vmin 25vmin;
    grid-template-rows: 40vmin 40vmin 40vmin 40vmin;
}


#memory-card {

}

#memory-card.flip {
    transform: rotateY(180deg)
}

#memory-card:active {

}

#front, #back {
    width: 50%;
    height: 50%;
}

button {
    background: none;
    border: none;
    padding: 10vmin;
    color: white;
    font-size: 3vmin;
    letter-spacing: 2vmin   ;
    font-family: 'jost', sans-serif;
}