* {
    box-sizing: border-box;
}

body {
    justify-content: center;
    display: grid;
    background-color: pink;
    background-image: url("/img/background.jpg");
    background-size: cover;
    background-attachment: fixed;
}

.concentration {
    margin-top: 5vmin;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
}

.card {

}

.card:active {

}

.card.flip {
    
}

.front, .back {
    height: 50%;
    width: auto;
}

button {
    background: none;
    border: none;
    padding: 5vmin;
    color: white;
    font-size: 3vmin;
    letter-spacing: 2vmin   ;
    font-family: 'jost', sans-serif;
}