* {
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: pink;
    background-image: url("https://i.imgur.com/rIdZlaD.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    overflow: hidden;
}

.timer, h1 {
    color: #A572D8;
    font-family: 'dongle', sans-serif;
    letter-spacing: 2px;
    font-size: 2.5vmin;
}

#logo img {
    width: 50vmin;
}

main {
    display: grid;
    grid-template-columns: repeat(5, 14vmin);
    grid-template-rows: repeat(4, 15vmin);
    animation-name: floating;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}

main img {
    width: 75%;
    cursor: pointer;
}

main img:hover {
    transform: scale(1.1);
    transition: transform 150ms;
}

button {
    background: none;
    border: none;
    margin-top: 5vmin;
}

button img {
    width: 4vmin;
    opacity: 50%;
}

button img:hover {
    transform: scale(1.2);
    transition: transform 150ms;
    opacity: 100%;
}

button:disabled {
    opacity: 0%;
  }

@keyframes floating {
    from { transform: translate(0,  0px); }
    65%  { transform: translate(0, 15px); }
    to   { transform: translate(0, -0px); }    
}

@media screen and (max-width: 650px) {

    main {
        padding: 3vmin;
    }

    #logo img {
        width: 75vmin;
    }

    main {
        grid-template-columns: repeat(5, 17vmin);
        grid-template-rows: repeat(4, 20vmin);
    }
    
    #button {
        max-width: 35vmin;
    }
  }

@media screen and (max-width: 1000px) {

    main {
        padding: 3vmin;
    }

    #logo img {
        width: 60vmin;
    }

    main {
        grid-template-columns: repeat(5, 14vmin);
        grid-template-rows: repeat(4, 16vmin);
    }
    
    #button {
        max-width: 30vmin;
    }
  }