* {
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: pink;
    background-image: url("https://i.imgur.com/rIdZlaD.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    overflow: hidden;
}

.modal-container {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 200vh;
    height: 200vh;
    background-color: rgba(0, 0, 0, 0.3);
    pointer-events: none;
    z-index: 1000;
    opacity: 0;
}

.modal-container.show {
    pointer-events: auto;
    opacity: 1;
}

.modal {
    background-color: white;
    background-image: url("https://i.pinimg.com/originals/0d/ff/12/0dff12883e37d102981a1cbf01401a64.png");
    background-size: 150%;
    background-position: center;
    width: 40vmin;
    height: 30vmin;
    max-width: 40vmin;
    max-height: 30vmin;
    border-radius: 40%;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    padding: 30px 50px;
    max-width: 100%;
    text-align: center;
    animation: zoom 3s ease infinite;
}

.modal p {
    margin-top: 8vmin;
    font-family: 'press start 2p', sans-serif;
    font-size: 3vmin;
    color: white;
    -webkit-text-stroke: 2px #A572D9;
}

#reset {
    color: white;
    font-family: 'press start 2p', sans-serif;
    font-size: 2vmin;
    -webkit-text-stroke: 1px pink;
    border-color: white;
    background: none;
    border-radius: 15%;
    padding: 5px;
}

#reset:hover {
    transform: scale(1.2);
    transition: transform 150ms;
    opacity: 100%;
}

.timer, h1 {
    color: #E67FD1;
    font-family: 'press start 2p', sans-serif;
    font-size: 1.2vmin;
}

.timer {
    margin-top: 3vmin;
}

#start {
    color: white;
    -webkit-text-stroke: 3px #A572D9;
    animation: zoom 1.5s ease infinite;
    margin-top: 2vmin;
    background: none;
    border: none;
}

#logo img {
    width: 55vmin;
    margin-top: 3vmin;
}

main {
    display: grid;
    grid-template-columns: repeat(5, 14vmin);
    grid-template-rows: repeat(4, 15vmin);
    animation-name: floating;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    opacity: 60%;
    pointer-events: none;
}

main:disabled {
    opacity: 50%;
    pointer-events: none;
}

main img {
    width: 75%;
    cursor: pointer;
}

main img:hover {
    transform: scale(1.1);
    transition: transform 150ms;
}

button {
    font-size: 3vmin;
    cursor: pointer;
    margin-bottom: -3.5vmin;
}
  

@keyframes floating {
    from { transform: translate(0,  0px); }
    65%  { transform: translate(0, 15px); }
    to   { transform: translate(0, -0px); }    
}

@keyframes zoom {
    from { transform: scale(.75); }
    50% { transform: scale(1); }
    to { transform: scale(.75); }
  }

@media screen and (max-width: 850px) {

    main {
        padding: 3vmin;
    }

    #logo img {
        width: 75vmin;
        margin: 0;
    }

    main {
        grid-template-columns: repeat(5, 17vmin);
        grid-template-rows: repeat(4, 20vmin);
    }
    
    #button {
        max-width: 35vmin;
    }

    #start {
        font-size: 5vmin;
    }

    .timer, h1 {
        font-size: 2vmin;
    }

    button img {
        width: 7vmin;
    }
  }